.f.slp,
.yQ8hqd.ksSzJd.w6Utff {
    visibility: hidden;
}
.settings-loaded .f.slp,
.settings-loaded .yQ8hqd.ksSzJd.w6Utff {
    visibility: visible;
}

.imdb-hide-ratings .yQ8hqd.ksSzJd.w6Utff,
.imdb-hide-ratings .imdb-search-item .f.slp,
.mal-hide-ratings .mal-search-item .f.slp,
.letterboxd-hide-ratings .letterboxd-search-item .f.slp,
.goodreads-hide-ratings .goodreads-search-item .f.slp,
.goodreads-hide-ratings .xpdopen .LoQAYe {
    display: none !important;
}
