html:not(.show-ratings) .ratings-bar,
html:not(.show-ratings) .ratings_wrapper,
html:not(.show-ratings) .titleReviewBar,
html:not(.show-ratings) .rating,
html:not(.show-ratings) .rating-list,
html:not(.show-ratings) .tinystarbar,
html:not(.show-ratings) .ipl-rating-widget,
html:not(.show-ratings) .ratings-metascore,
html:not(.show-ratings) .rating_txt,
html:not(.show-ratings) .rating-other-user-rating,
html:not(.show-ratings) .imdbRatingPlugin {
    display: none !important;
}
html:not(.show-ratings) .ratingColumn {
    visibility: hidden !important;
}
