html:not(.show-ratings) .ratings-bar,
html:not(.show-ratings) .ratings_wrapper,
html:not(.show-ratings) .titleReviewBar,
html:not(.show-ratings) .rating,
html:not(.show-ratings) .rating-list,
html:not(.show-ratings) .tinystarbar,
html:not(.show-ratings) .ipl-rating-widget,
html:not(.show-ratings) .ratings-metascore,
html:not(.show-ratings) .rating_txt,
html:not(.show-ratings) .rating-other-user-rating,
html:not(.show-ratings) .imdbRatingPlugin,
html:not(.show-ratings) .ipc-rating-star--imdb,
html:not(.show-ratings) .ipc-poster-card__rating-star-group,
html:not(.show-ratings) .ipc-rating-star,
html:not(.show-ratings) .ipc-voting__label__count,
html:not(.show-ratings) [class*="TitleBlock__RatingContainer"],
html:not(.show-ratings) [class*="RatingBar__RatingContainer"],
html:not(.show-ratings) [data-testid="hero-rating-bar__aggregate-rating"],
html:not(.show-ratings) [data-testid="hero-rating-bar__popularity"],
html:not(.show-ratings) [data-testid="reviewContent-all-reviews"] {
    display: none !important;
}
html:not(.show-ratings) .ratingColumn {
    visibility: hidden !important;
}
