html:not(.show-ratings) .poster-meta,
html:not(.show-ratings) .poster-views,
html:not(.show-ratings) .poster-likes,
html:not(.show-ratings) .ratings-histogram-chart,
html:not(.show-ratings) .filmstat-watches,
html:not(.show-ratings) .filmstat-lists,
html:not(.show-ratings) .filmstat-likes,
html:not(.show-ratings) .filmstat-top250,
html:not(.show-ratings) .rating {
    display: none !important;
}
