html:not(.show-ratings) .anime-detail-header-stats .stats-block {
    height: auto;
}
html:not(.show-ratings) .anime-detail-header-stats .stats-block .information-block {
    position: relative !important;
    left: auto !important;
    top: auto !important;
}
html:not(.show-ratings) [onclick*="#score"]:after {
    content: "";
    position: relative;
    z-index: 2;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin-right: -20px;
    background: #fff;
}
html:not(.show-ratings) [itemprop="aggregateRating"],
html:not(.show-ratings) .bottom-navi .icon-reaction,
html:not(.show-ratings) .mal-ratings-wrapper,
html:not(.show-ratings) #myinfo_score,
html:not(.show-ratings) td .js-top-ranking-score-col,
html:not(.show-ratings) .information .scormem,
html:not(.show-ratings) .anime-detail-header-stats .stats-block:before,
html:not(.show-ratings) .anime-detail-header-stats .stats-block .di-ib.ml12.pl20.pt8,
html:not(.show-ratings) .anime-detail-header-stats .stats-block .score {
    display: none !important;
}

html:not(.show-ratings) .ranking-unit .info {
    filter: blur(5px);
    transition: filter 0.2s;
}
.ranking-unit .info:hover {
    filter: blur(0) !important;
}
