/* Reset
------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a, button {
    outline: 0;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/* Extension
------------------------------------------------------------------- */
body {
    min-width: 300px;
    color: #808080;
    font-size: 14px;
    line-height: 22px;
    padding: 20px;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}
small {
    font-size: 10px;
    line-height: 12px;
    font-style: italic;
}
.wrapper {
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}
.hidden {
    display: none !important;
}

/* ---- Alerts ---- */
.alert {
    display: block;
    width: 100%;
    clear: both;
    padding: 5px 10px;
    color: #fff;
    background: #ccc;
    border-radius: 3px;
    margin: 0;
}
.alert.absolute {
    position: absolute;
    z-index: 999;
    left: 0;
    bottom: 0;
    text-align: center;
}
.alert.success {
    background: #398ff7;
}
.alert.danger {
    background: #fb4f57;
}

/* ---- Toggles ---- */
.toggle {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 52px;
    height: 26px;
    background: #f8f8f8;
    border-radius: 26px;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
    border: 1px solid #ededed;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0);
}
.toggle:after {
    content: "";
    display: block;
    position: absolute;
    left: 1px;
    top: 1px;
    width: 22px;
    height: 22px;
    background: #ccc;
    border-radius: 50%;
    transition: all 0.2s;
}
/* hover state */
.toggle:hover {
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.07);
}
/* active state */
.toggle.active {
    background: #e2f3ff;
}
.toggle.active:after {
    left: calc(100% - 23px);
    background: #398ff7;
}

/* ---- Toggle items wrapper ---- */
.toggle-item,
.toggle-item .txt {
    position: relative;
    display: block;
    width: 100%;
    clear: both;
    min-height: 26px;
    line-height: 26px;
}
.toggle-item {
    padding-right: 65px;
    margin-bottom: 20px;
}
.toggle-item small {
    display: block;
    margin-top: -5px;
}
.toggle-item .toggle {
    position: absolute;
    right: 0;
    top: 0;
}

/* ---- Credits ---- */
.credits {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    opacity: 0.5;
    border-top: 1px solid #f2f2f2;
    padding-top: 10px;
}
